In [1]:
import pandas as pd
import numpy as np
import os
from export_modules import *

In [2]:
project_path = os.getcwd()
data_path = project_path + "/project_6/data/"

# Split 70/20/10

In [10]:
df = pd.read_csv(data_path + "generated/full_merge.csv")
df.head(2)

,element_uid,user_uid,consumption_mode,transaction_ts,watched_time,rating,rating_ts,bookmark_ts,duration,type,is_relevant,75%
0,3336,5177,S,4.430518e+07,70.0,9.0,4.430415e+07,NaN,90,movie,1,100.0
1,3336,349202,S,4.430503e+07,50.0,NaN,NaN,NaN,90,movie,1,100.0

In [11]:
df = df[["element_uid", "user_uid", "is_relevant", "transaction_ts"]]

In [12]:
df.sort_values("transaction_ts", inplace=True)

In [13]:
test_val = df.iloc[-(round(df.shape[0] * 0.3)) : , :]

In [14]:
test_val.head()

         element_uid  user_uid  is_relevant  transaction_ts
5478686         6976     86207            1    4.360350e+07
8337028         3273    468831            1    4.360350e+07
9306125         9316    205487            1    4.360350e+07
3410620         2030     32486            1    4.360350e+07
881620          9817     87570            0    4.360350e+07

In [15]:
validation = test_val.iloc[:round(test_val.shape[0]*0.2) , :]

In [16]:
test = test_val.iloc[round(test_val.shape[0]*0.2) : , :]

In [17]:
train = df.iloc[:(round(df.shape[0] * 0.7)) , :]

In [18]:
validation.shape[0] + test.shape[0] + train.shape[0]

10403324

In [19]:
train["impl"] = 1
test["impl"] = 1
validation["impl"] = 1

In [22]:
validation.head()

         element_uid  user_uid  is_relevant  transaction_ts  impl
5478686         6976     86207            1    4.360350e+07     1
8337028         3273    468831            1    4.360350e+07     1
9306125         9316    205487            1    4.360350e+07     1
3410620         2030     32486            1    4.360350e+07     1
881620          9817     87570            0    4.360350e+07     1

In [26]:
train[["user_uid", "element_uid", "impl", "is_relevant", "transaction_ts"]].to_csv(data_path + "implicit/all_datasets/70_20_10/train.csv", header=False, index=False)
validation[["user_uid", "element_uid", "impl", "is_relevant", "transaction_ts"]].to_csv(data_path + "implicit/all_datasets/70_20_10/validation.csv", header=False, index=False)
test[["user_uid", "element_uid", "impl", "is_relevant", "transaction_ts"]].to_csv(data_path + "implicit/all_datasets/70_20_10/test.csv", header=False, index=False)

# Train Matrix Factorization